postgres-data
node_modules
storage/**
src/documentation_source_tests/documentation/**

src/svc_base/base/api/back_version.txt

tshared
base3

src/tshared_src/tshared/utils/logs/**

base3
tshared

__pycache__

src/generated_api_documentation/
src/.pytest_cache/

*.egg-info

.coverage
.idea
.venv
*.pyc
.env
DEADJOE
.DS_Store
src/base3
src/tshared
*~
*.swp
*.swo
src/logs/**
src/tests_integration/logs/**
src/tests_integration/documentation/**
src/tests_documentation/documentation/**

src/environments/credentials.env
src/environments/credentials.docker.env
src/environments/installation.env
src/environments/preferences.env 
src/environments/environment.env
